.filters {
  margin: 0px 10px;
}

.filterWrapper {
  width: 20vw;
  max-width: 240px;
  height: 100%;
  max-height: 700px;
  display: flex;
  background-color: #fff;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
}

.filterTags {
  text-align: center;
  border-bottom: 2px solid #000;
}

.btnContainer {
  padding: 8px;
  text-align: center;
}

.btnList {
  grid-template-columns: 50% auto;
  display: grid;
}

.button {
  background-color: #c5e09a;
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #7bba01;
}

.selected {
  background-color: #7bba01;
  border: none;
  outline: #7bba01;
}

@media only screen and (max-width: 700px) {
  .filterWrapper {
    width: 100% !important;
    max-width: none;
    margin-bottom: 10px;
    max-height: none;
  }

  .button {
    padding: 5px 20px;
    font-size: 20px;
  }

  .filterTags {
    font-size: 20px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .button {
    padding: 3px 10px;
  }

  .filterWrapper {
    width: 20vw;
  }
}
