html,
body {
  background-color: rgb(242,242,242);
  padding: 0;
  margin: 5px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textBold {
  font-weight: bold;
  line-height: 25px;
} 