.wrapper {
  display: flex;
  /* grid-template-columns: 15% 85%; */
}

.launchTitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    display: block;
  }
}
