.missionList {
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-template-rows: repeat(auto-fill, minmax(300px, 500px));
  grid-gap: 15px;
}

@media only screen and (max-width: 700px) {
  .missionList {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 1024px) and (max-width: 1267px) {
  .missionList {
    grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
  }
}

@media (min-width: 1268px) and (max-width: 1315px) {
  .missionList {
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
  }
}
