.missionWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.missionWrapper:hover {
  transform: scale(1.02);
}

.imgContainer {
  background-color: #f2f2f2;
  text-align: center;
}

.img {
  width: 15em;
  height: 15em;
}

.blueTag {
  color: #4a5098;
}

.footer {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.textBold {
  font-weight: bold;
  line-height: 25px;
}

@media only screen and (max-width: 700px) {
  .missionList {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .missionWrapper {
    width: 100%;
    height: fit-content;
  }
}

@media (min-width: 700px) {
  .missionWrapper {
    width: 100%;
  }
}
